body {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#main, #intro {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

#main h1, #main h2, #main h3,
#intro h1, #intro h2, #intro h3 {
    color: #333;
    font-size: 24px; /* 헤더 태그의 기본 글자 크기를 조정 */
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #4ca2cd, #67b26f);
}

#chat-container {
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px auto;
    background: linear-gradient(to right, #e0e0e0, #f9f9f9);
    position: relative;
}

#chat-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('pattern.png');
    opacity: 0.1;
    border-radius: 15px;
}

#message-input {
    width: 60%;
    padding: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-right: 5px;
}

#send-button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

#send-button:hover {
    background: linear-gradient(to right, #4ca2cd, #67b26f);
}

.intro-container img {
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정 */
    height: auto; /* 이미지의 높이는 자동으로 조절 */
}